<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/report.css')}}" rel="stylesheet" />
    <title>Company Newsletter</title>
</head>
<body>
    <div class="newsletter">
        <div class="header">
            <h1>{{ company_name }}</h1>
            <p>The most extroverted news you'll find.</p>
        </div>
        <div class="section">
            <h2>Summary</h2>
            <p>{{ summary }}</p>
        </div>
        <div class="section">
            <h2>Good for Climate</h2>
            <p>{{ good_for_climate }}</p>
        </div>
        <div class="section">
            <h2>Bad for Climate</h2>
            <ul>
                {% for item in bad_for_climate %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer">
            <p>Follow us for more @social_news</p>
        </div>
    </div>
</body>
</html>